.button {
    width: 194px;
    height: 49px;
    border-radius: 5px;
    color: #331a15;
    border-color: #fff;
    font-size: 28px;
    font-family: "Rancho", cursive;
    cursor: pointer;
}

.button:hover {
    background-color: #331a15;
    color: #fff;
    transition: 0.2s;
}