.coffes {
  padding-top: 12px;
  width: 350px;
  height: 480px;
  border-radius: 10px;
  background-color: #fff;
}

.coffes_image {
  margin-top: 10px;
  margin: 0 auto;
  height: 250px;
  width: 350px;
  background: rgba(201, 199, 199, 0.519);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coffes_image img {
  width: 126px;
  height: 200px;
}

.coffes_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 287px;
  line-height: 26px;
  padding-left: 20px;
  margin-top: 30px;
}

.coffes_text h3 {
  font-family: "Rancho", cursive;
  font-size: 30px;
}

.coffes_text p {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: rgb(85, 85, 85);
}

.coffes_price {
  margin-top: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.coffes_price span {
  font-family: "Rancho", cursive;
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .coffes {
    width: 100%;
  }

  .coffes_image {
    width: 100%;
  }

  .coffes_text {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .coffes {
    width: 40%;
  }

  .coffes_image {
    width: 100%;
  }

  .coffes_text {
    width: 100%;
  }

  .coffes_text p {
    font-size: 14px;
  }
}
