.clintcard {
    width: 350px;
    height: 350px;
    background-color: rgb(249, 243, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;

}

.clintcard img {
    border-radius: 50px;
    border: 5px solid white;
    position: absolute;
    top: -50px;

}

.clintcard p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    padding-bottom: 30px;
    line-height: 22px;
    font-weight: 400;
    width: 277px;
    margin-top: 50px;
    text-align: center;
    height: 125px;

}

.clintcard h3 {
    font-family: 'Rancho', cursive;
    font-size: 26px;
    padding-bottom: 10px;
    color: rgb(51, 26, 21);
}

.clintcard span {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: rgb(85, 85, 85);
}