.about_coffe {
  display: flex;
  margin-top: 20px;
}

.coffe_glass h3 {
  font-size: 30px;
  font-family: "Rancho", cursive;
}

.coffe_glass p {
  width: 312px;
  line-height: 26px;
  font-family: "Raleway", sans-serif;
}
.promotion_cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .about_coffe {
    flex-direction: column;
    align-items: center;
  }
  .coffe_glass {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .coffe_glass p {
    width: 100%;
  }
}